
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if entry %}Edycja{% else %}Dodawanie{% endif %} planu zajęć</title>
</head>
<body>
    <h1>{% if entry %}Edycja{% else %}Dodawanie{% endif %} planu zajęć</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz</button>
    </form>
</body>
</html>
